@font-face {
	font-family: Prisma;
	src: url('../fonts/Prisma.otf');
}

@font-face {
	font-family: Bebas;
	src: url('../fonts/BebasNeue.otf');
}

a {
	padding-left:25px;
}

body, html {
	margin: 0px;
	height: 100%;
	background-color: #ADC7BE;
	font-family: Bebas;
}

header .leftContainer {
	margin-top: 40px;
}
.col-lg-4{
	margin-top: 30px;
	margin-left: 10px;
}

input {
	border: none;
	background-color: transparent;
	outline: none;
}

#logo {
	font-family: Prisma;
	font-size: 50px;
	color: #ADC7BE;
}

.green{
	color: #ADC7BE
}

.form {
	font-size: 33px;		
}

.form label {
	color: #F7F4F2;
}

.formRow {
	margin: 33px;
	
}

.formRow input, select {
	font-size: 33px;
	font-family: Bebas;
	color: #3B2824;
}

.center {
	text-align: center;
}



button:hover {
	color: #3B2824;
	background-color: #F7F4F2;
	cursor: pointer;
}

.songContainer {
	font-size: 33px;
	color: #3B2824;
	margin-bottom: 33px;
	border-bottom: 3px solid #F7F4F2;
	width: 700px;
	margin: auto;
	text-align: center;
	padding: 33px;
}

.songContainer:last-child {
	border-bottom: none;
}

.songActionContainer button {
	margin: 13px;
}

.songContainer .title, .songContainer .artist {
	color: #F7F4F2;
}

.genreContainer {
	display: none;
}

